body	{
	background-color: #FFF0F5;
}

.title {
	font-size: 50px;
	color:#DB7093;
	text-align: center;
}

table	{
	border-collapse: collapse;
	width: 75%;
	text-align: center;
	margin: 0 auto;
}

.subtitle {
	text-align: center;

}

thead {
	font-size: 20px;
	background-color: #DB7093;
	text-align: left;
	color: white;}

td, th {
	border-bottom: 1px solid #DB7093;
	padding: 5px;
}

ul, ol{
margin:0;
padding:0 0 0 15px;    
}

.column {
	
    float: left;
    margin: 0 100px 0 0;

}    

img {
	width: 50px;
	height: 50px;
}


tr:nth-child(even) {background-color:#FAEBD7 ;}
tbody tr:hover {background-color:#DCDCDC;}


tbody tr {
	font-size: 20px;
	text-align: left;
}

tbody tr td:last-child {
	text-align: center;
}


.row {
	text-align: center;
}

.inline-element {
	display:inline-block;
	text-align: left;
}
