body {
	margin: 0;
}

header h1 {
	text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.horizon ul{
	list-style-type: none;
	margin: 0;
	padding:0;
}

.horizon li {
	display:inline-block;
	width:25%;

	background-color: grey;
	

}

.horizon a {
	display:inline-block;
	padding:10px;
	text-align: center;
}

.vertical ul {
	list-style-type: none;
	margin:0;
	padding: 10px;
}

.vertical li {

}

.vertical a {
	display:block;

}

nav[role="sub"] ul li {
	display:block;
	
	}

label {
	display:block;
}